.position-center {
  display: flex;
  flex-direction: column;;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

table.pull-requests {
  table-layout: fixed;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
