<div class="container position-center">
  <h2> Welcome to the ConnectedHomes repository app! </h2>
  <p class="lead">This app shows all open pull-requests and the latest releases for each ConnectedHomes repository.</p>
</div>


{{outlet}}
