<div class="container position-center">
  <h2> Welcome to the fascia app! </h2>
  <p class="lead">This app is currently baking and when done will provide a tasty experience to managing cross repository concerns.</p>
</div>


{{outlet}}
