<form {{action 'authenticate' on='submit'}} class="container position-center">

  <img src="/images/Octocat.png" height="200" width="200"/>
  <br>
  <button type="submit" class="btn btn-primary">
     <span class="fa fa-github" aria-hidden="true"></span> Sign in with GitHub
  </button>
  <br>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}

</form>

{{outlet}}
